* {
    box-sizing: border-box;
}
body {
    font-family: Noto Sans;
    font-size: 12pt;
    padding: 2em;
}
th {
    font-size: 10pt;
    text-align: left;
}
table,
tr,
td {
    border: 1px solid #888;
    border-collapse: collapse;
}
th,
td {
    padding: 0.5em;
}

img.signature {
    max-width: 10em;
}
